.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}


.heroWrapper{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    scroll-snap-align: start;
    transform: translateY(20px); /* Start slightly down */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */

    
    h2{
        opacity: 50%;
    }
    h1{
        margin-block: -10px;
    }
    p{
        margin-block: 35px;
        font-size: 48px;
        font-weight: bolder;
        background: linear-gradient(90deg, #FF8C00, #FF4500);
       -webkit-background-clip: text;
       color: transparent;
    }
   
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.heroWrapper {
    animation: fadeInUp 1s ease-out forwards;
}
.iconsWrapper{
   
    display: flex;
    column-gap: 30px;
}

.icons{
   cursor: pointer;
   a{
    color: white;
    text-decoration: none;
   }
}
.emailText {
    font-size: 14px;
    color: #333; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
         
  }

.subparts{
    margin-block: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        font-size: 18px;;
        border: 2px solid white;
        border-radius: 10px;
        padding-inline: 30px;
        padding-block: 10px;
    }
    div:hover{
        cursor: pointer;
        background: linear-gradient(90deg, #FF8C00, #FF4500);
        -webkit-background-clip: text;
        color: transparent;
    }
}



.box{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    background-color: rgb(253, 252, 252,5%);
    column-gap: 30px;
    padding: 20px;
    border-radius: 10px;

}

.boxNo{
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(90deg, #FF8C00, #FF4500);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 8px;
}

.boxItem{
    border-right: 3px solid rgb(109, 109, 109);
    padding-right: 20px;
}

.img{
    width: 500px;
}

.leftWrapper{
    width: max-content;
}

@media (max-width: 1000px) {
    .leftWrapper {
      width: 370px !important;
    }
  }

  @media (max-width: 400px) {
   .wrapper{
    text-align: center;
   }
   .iconsWrapper{
    justify-content: center;
   }
  }
