.logo{
    background: linear-gradient(90deg, #FF8C00, #FF4500);
    -webkit-background-clip: text;
    color: transparent;
}

.subHeading:hover{
    background: linear-gradient(90deg, #FF8C00, #FF4500);
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s;
}

/* .navBar{
    position: fixed;
} */